laravel/.env
.env
laravel/storage/logs/
laravel/storage/files/
laravel/storage/storage/
laravel/vendor/
laravel/install.lock
laravel/public/install/logs/
laravel/public/storage
laravel/node_modules
.idea
mysql/data
redis/data
